node_modules
**/node_modules
**/dist

tests
*.test.ts
*.spec.ts
*.tsbuildinfo

.git
.github
.vscode
.idea
*.md
docs

.env
.env.*
**/.env
**/.env.*
!**/.env.example

**/*.log
.DS_Store

packages/country-build/upstream
packages/country-build/data
